[submodule "STM32CubeF1.git"]
	path = sdk/STM32CubeF1
	url = git@github.com:STMicroelectronics/STM32CubeF1.git
[submodule "STM32CubeWL.git"]
	path = sdk/STM32CubeWL
	url = git@github.com:STMicroelectronics/STM32CubeWL.git
[submodule "STM32CubeF4.git"]
	path = sdk/STM32CubeF4
	url = git@github.com:STMicroelectronics/STM32CubeF4.git
[submodule "STM32CubeG0.git"]
	path = sdk/STM32CubeG0
	url = git@github.com:STMicroelectronics/STM32CubeG0.git
[submodule "osal.git"]
	path = components/osal
	url = git@github.com:andy666chang/osal.git
[submodule "M031BSP"]
	path = sdk/M031BSP
	url = git@github.com:OpenNuvoton/M031BSP.git
